


<div class="col-md-6 offset-md-3">
    <mat-card class="bg-dark text-white">
        <mat-card-header>
             <h1> <strong> Routing In ANGUlAR </strong> </h1>
        </mat-card-header>
    
        <mat-divider class="bg-light"></mat-divider>
    
     <mat-card-content class="p-4">
        <h3>
            When you Routes/Redirect to users DashBoard and products DashBoard 
            their you can interact like : 
            In users you can add , edit , update , and delete the information.. 
               SAME FOR PRODUCTS ALSO...
            In Products you can add , edit , update , and delete the information..
        </h3>
     </mat-card-content>

     <mat-divider class="bg-light"></mat-divider>
    
     <mat-card-actions>
      <div class="button d-flex justify-content-between">
        <button class="btn btn-sm" mat-raised-button color="primary" 
        routerLink="/users">Go TO Users</button>
        <button class="btn btn-sm" mat-raised-button color="primary" 
        routerLink="/products">Go TO Products</button>
      </div>

     </mat-card-actions>
    </mat-card>
    
</div>