/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    rgb(82, 34, 88),
    rgb(140, 48, 97),
    rgb(198, 60, 81),
    rgb(217, 95, 89)
  );
  background-repeat: no-repeat;
  background-position: center;
  // background-size: cover;
}
